@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {

    /* ### Primary */

--Darkcyan: hsl(185, 75%, 39%);
--Verydarkdesaturatedblue: hsl(229, 23%, 23%);
--Darkgrayishblue: hsl(227, 10%, 46%);

/* ### Neutral */

--Darkgray: hsl(0, 0%, 59%);
}

/* basic settings */

html {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background settings */

body {
    background-color: var(--Darkcyan);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 5%;
    overflow: hidden;
}

#backgroundImage {
    position: relative;
    width: 100%;
}

#imageTop {
    position: absolute;
    top: -27rem;
    left: -40rem;
    overflow: hidden;
}

#imageBottom {
    position: absolute;
    bottom: -75rem;
    right: -40rem;
    overflow: hidden;
    transform: rotate(50deg);
}

/* Profile card */

main {
    width: 85%;
    max-width: 300px;
    background-color: white;
    z-index: 10;
    border-radius: 1rem;
    position: relative;
    top: 8rem;
}

#backgroundCardImage {
    background-image: url(images/bg-pattern-card.svg);
    width: 100%;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
}

#profilPicture {
    position: absolute;
    border: .3rem solid white;
    border-radius: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profil {
    text-align: center;
    margin-top: 20%;
    border-bottom: 1px solid var(--Darkgray);
    padding-bottom: 1rem;
}

#name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: .9rem;
    
}

h1 {
    font-weight: 700;
    padding: .8rem;
}

#age {
    color: var(--Darkgray);
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: .5rem;
}

#place {
    color: var(--Darkgray);
    font-weight: 400;
}

#stats {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.stats {
    padding: 1.5rem 0;
}

.number {
    font-size: 1.3rem;
    font-weight: bold;
}

.name {
    color: var(--Darkgray);
    font-size: .8rem;
    font-weight: 400;
}

/* Media Queries */

